<main>

    
    <h2>Tarefas Registradas</h2>
    <hr class="linha-personalizada2">
    
    {{!-- Listagem das Tarefas --}}
    <div class="container">
        <div class="lined-background"></div>
    <div id="listaTarefas" class="row">
        {{#each tarefas}}
            <div class="col-12 tarefa-item" data-id="{{id}}">               
                
                <div class="card ">
                    <div class="btn-container" title="Marcar como concluída">
                        <input type="checkbox" onclick="toggleConcluida(this)" class="form-check-input">
                            <span class="concluida-text">Feito!</span>
                    </div>

                    <div class="textos" title="Arraste para mover tarefa">
                        <p class="{{#if (gte custo 1000)}}highlight{{/if}}">{{formatDate data_limite}}</p>
                        <p class="{{#if (gte custo 1000)}}highlight{{/if}}">{{nome}}</p>
                        <p class="{{#if (gte custo 1000)}}highlight{{/if}}">R${{custo}}                      
                    </div>

                    
                     

                    <div class="btn-container">
                        
                    <button class="btn btn-secondary btn-mover mover-cima" {{#if @first}}disabled{{/if}} title="Clique para subir a tarefa">
                        ↑
                    </button>
                    <button class="btn btn-secondary btn-mover mover-baixo" {{#if @last}}disabled{{/if}} title="Clique para descer a tarefa">
                        ↓
                    </button>
                </div>

                    </button>
                    <div class="btn-container">
                        
                        <a href="/formularioEditar/{{id}}" class="btn btn-warning" title="Clique para editar a tarefa">
                            <i class="fas fa-edit"></i>
                        </a>
                        <a href="#" class="btn btn-danger" onclick="(function(event) { confirmarExclusao(event, {{id}}); })(event)" title="Clique para remover a tarefa">
                            <i class="fas fa-trash-alt"></i>
                        </a>
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
</div>

    {{!-- Modal de Confirmação --}}
    <div class="modal fade" id="confirmacaoModal" tabindex="-1" aria-labelledby="confirmacaoModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmacaoModalLabel">Confirmação</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Tem certeza de que deseja excluir esta tarefa?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Não</button>
                    <button type="button" class="btn btn-danger" id="btnConfirmarExclusao">Sim</button>
                </div>
            </div>
        </div>
    </div>
{{!-- Formulário --}}
<div class="container" >
    <div class="row justify-content-center">
        <div class="col-md-6">
            <input type="submit" class="btn btn-primary" value="Nova Tarefa" title="Clique para incluir uma nova tarefa" id="btnNovaTarefa">

            <form action="/incluir" method="post" id="Nova" style="display: none;">
                <h2>Registre sua nova tarefa</h2>
                <p class="left-bold">Tarefa</p>
                <input type="text" name="nome" class="form-control" placeholder="Ex. Contratar a Pâmela Pavan">
                <p class="left-bold">Custo</p>
                <input type="number" name="custo" class="form-control" placeholder="Ex. 0">
                <p class="left-bold">Data Limite</p>
                <input type="date" name="data_limite" class="form-control" aria-label="Data Limite da Tarefa">
                <input type="submit" class="btn btn-primary" value="Incluir" title="Clique para incluir uma nova tarefa">
            </form>
        </div>
    </div>
</div>


</main>
